.task {
    margin: 5px;
    padding: 10px 20px;
    cursor: pointer;
    background-image: url('src/assets/images/divbg.svg');
  }
  
  .task.reminder {
    border-left: 5px solid yellow;
    color: chartreuse;
  }
  
  .task h3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    -moz-user-select: none;
  }

  .task p {
    font-size: 18px;
    display: flex;
    justify-content: space-between;
  }

  .task h5{
    display: flex;
    align-items: center;
    font-weight: normal;
    display: flex;
    justify-content: space-between;
    -moz-user-select: none;
  }
  